allure-pytest==2.16.0
allure-python-commons==2.16.0
annotated-types==0.7.0
attrs==26.1.0
certifi==2026.2.25
charset-normalizer==3.4.7
colorama==0.4.6
constants==0.6.0
execnet==2.1.2
Faker==40.13.0
greenlet==3.5.0
idna==3.11
iniconfig==2.3.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.1
pluggy==1.6.0
psycopg2==2.9.12
pydantic==2.13.3
pydantic_core==2.46.3
Pygments==2.20.0
pytest==9.0.3
pytest-check==2.8.0
pytest-html==4.2.0
pytest-metadata==3.1.1
pytest-rerunfailures==16.1
pytest-xdist==3.8.0
python-dotenv==1.2.2
requests==2.33.1
SQLAlchemy==2.0.49
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.1
urllib3==2.6.3
uuid==1.30
